<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyThesis">
        <activity android:name=".view.activities.EditTaskActivity"></activity>
        <activity android:name=".view.activities.AddTaskPickUplantActivity" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider{847586582612834}"
            android:exported="true" />

        <activity android:name=".view.activities.AllUserPlantActivity"
            tools:ignore="ExtraText">
            android:screenOrientation="portrait"
        </activity>
        <activity
            android:name=".view.activities.EditUserPlantActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.FullWeatherActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyThesis.NoActionBar" />
        <activity
            android:name=".view.activities.DetailsProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.InfoGoodsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyThesis.NoActionBar" />
        <activity
            android:name=".view.activities.InfoVesActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyThesis.NoActionBar" />
        <activity
            android:name=".view.activities.DetailsUserPlantActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.AddUserPlantActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.AddTypePlantActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.AddTaskActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.BottomNavActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.EditProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.ForgotPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activities.MainActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>